body{
	background-image: url(https://tse1.mm.bing.net/th?id=OIP.mzy64rXAuJcHVZL9aijY1QHaEo&pid=Api&P=0&w=259&h=162);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
#Cobble{
	color: white;
}
#link3{
	text-align: center;
}
	