body{
	background-image: url(https://tse4.mm.bing.net/th?id=OIP.hfp3UeRCUXmS44viVGFgjwAAAA&pid=Api&P=0&w=277&h=157);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
#link2{
	text-align: center;
}